@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,700i&subset=cyrillic");
body, textarea { font-family: 'Roboto', sans-serif; }

p { font-size: 14px; }

h2 { font-size: 24px; text-transform: uppercase; font-weight: 600; }

h4 { font-size: 18px; font-weight: 400; }

h5 { font-size: 13px; text-transform: capitalize; font-weight: 500; margin-bottom: -3px !important; }

small, textarea { font-size: 11px; }

body, ul, li, menu, input, button, h1, h2, h3, h4, h5, h6, p { padding: 0; margin: 0; }

input { font-size: 14px; font-weight: 500; padding: 7px 5px; outline: none; }

.slick-initialized .slick-slide { outline: none; }

textarea, botton { outline: none; }

.images { overflow: hidden; }
.images img { height: 100%; }

.container { padding: 0 40px; }

a { font-size: 14px; display: inline-block; width: 100%; text-decoration: none; color: black; }

nav li:hover a { color: #4F4F4F; }
nav .container { display: flex; justify-content: space-between; align-items: center; height: 60px; }
nav menu, nav ul { display: inline-block; }
nav menu.sign-in li:first-child, nav ul.sign-in li:first-child { border-right: 1px solid black; padding-right: 6px; }
nav menu.sign-in li:last-child, nav ul.sign-in li:last-child { padding-left: 6px; }
nav menu.log-in, nav ul.log-in { display: flex; align-items: center; }
nav menu.log-in .overlay, nav ul.log-in .overlay { position: fixed; top: 0; left: 0; right: 0; bottom: 0; }
nav menu.log-in menu, nav ul.log-in menu { width: 256px; position: absolute; top: 60px; right: 0; z-index: 99; border: 1px solid #E0E0E0; border-right: 0; background: white; border-bottom-left-radius: 5px; font-size: 12px; cursor: pointer; }
nav menu.log-in menu li, nav ul.log-in menu li { text-transform: none; font-weight: normal; float: none; padding: 3px 8px; transition: all .2s; }
nav menu.log-in menu li:hover, nav ul.log-in menu li:hover { background: #F2F2F2; }
nav menu.log-in menu li:hover.ping a, nav ul.log-in menu li:hover.ping a { color: #CE1B66; }
nav menu.log-in menu li.ping a, nav ul.log-in menu li.ping a { color: #E62174; }
nav menu.log-in li, nav ul.log-in li { padding-left: 8px; padding-right: 0; }
nav li { font-weight: 500; text-transform: uppercase; list-style-type: none; float: left; padding: 0 13px; }
nav li:first-child { padding-left: 0; }
nav li:last-child { padding-right: 0; }
nav .logo { display: inline-block; }
nav .logo a { font-size: 24px; font-weight: bold; }
nav img { height: 34px; width: 34px; border-radius: 5px; }
nav i { font-size: 24px; display: inline-block; vertical-align: middle; margin-right: 10px; }

button { font-size: 14px; text-transform: uppercase; font-weight: 500; border: 0; color: white; cursor: pointer; padding: 9px 42px; outline: none; }
button.ping { background: linear-gradient(90deg, #E62174 0%, #CE1B66 100%), #E62174; }
button.ping:hover { background: linear-gradient(90deg, #CE1B66 0%, #E62174 100%), #CE1B66; }
button.ping.border { border-radius: 5px; padding: 9px 14px; }
button.ping.border.small { padding: 5px 23px; }
button.green { background: linear-gradient(90deg, #27AE60 0%, #219653 100%), #27AE60; border-radius: 5px; }
button.green:hover { background: linear-gradient(90deg, #219653 0%, #27AE60 100%), #219653; }

.col-head { display: flex; }

.col-header { width: 50%; color: white; float: left; }
.col-header h2 { padding-top: 60px; padding-bottom: 20px; }
.col-header p { padding-top: 28px; padding-bottom: 20px; }
.col-header input, .col-header button { margin: 20px 10px 0 0; }

.lovers { background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.11), rgba(0, 0, 0, 0.11)), url(../img/para.jpg), linear-gradient(180deg, #F0809B 0%, #6D001A 100%) no-repeat center; background-size: cover; width: 100%; height: 100%; }

.invitation { background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.11), rgba(0, 0, 0, 0.11)), url(../img/photo.jpg), #D75675; background-size: cover; width: 100%; height: 100%; }

.slider { padding: 35px 0 70px; background: linear-gradient(0deg, rgba(255, 255, 255, 0.97), rgba(255, 255, 255, 0.97)), url(../img/002.jpg) no-repeat center; background-size: cover; }

.slider-run { margin-top: 35px; }
.slider-run .user .images { height: 244px; width: 173px; border-radius: 10px; text-align: right; }
.slider-run .user .images img { position: relative; left: -20%; }
.slider-run .user .username { position: absolute; bottom: 0; width: 163px; background: rgba(255, 255, 255, 0.8); border-radius: 0 0 10px 10px; padding: 5px; }
.slider-run .user .username h5 { line-height: .8; }

.top-work .container { display: flex; justify-content: space-around; }
.top-work .container .work { padding: 35px 0 35px 0; margin: 3px; }
.top-work .container .work iframe { min-width: 45vw; height: 100%; }
.top-work .container .work .images { margin-top: 15px; height: 25vw; max-width: 45vw; cursor: pointer; }
.top-work .container .work .footer-work { padding-top: 6px; width: 100%; }
.top-work .container .work .footer-work a { width: 30%; }
.top-work .container .work .footer-work a .images { margin-top: 0; margin-right: 6px; height: 28px; width: 28px; float: left; border-radius: 5px; }

.comment-work { color: #4F4F4F; font-size: 11px; text-align: right; display: inline; float: right; }

.info { padding-top: 38px; padding-bottom: 94px; }
.info .info-head h3 { text-align: center; margin-bottom: 30px; }

.triangle-bottomright { width: 0; height: 0; border-bottom: 500px solid #F9E5F2; border-left: 99vw solid transparent; }

footer { background: #151515; padding-top: 23px; padding-bottom: 20px; }
footer .footer { display: flex; justify-content: space-between; }
footer a { color: white; }
footer ul { float: right; }
footer ul li { float: left; margin-left: 10px; list-style-type: none; }
footer ul li a { font-size: 12px; }

.flaticon-like-1:before { font-size: 16px; }

.likes:hover { color: red; cursor: pointer; }

.flaticon-view:before { font-size: 24px; position: absolute; margin-top: -4px; }

.flaticon-like-1, .flaticon-view { margin-left: 3px; }

.lightbox { transition: all 1s; }
.lightbox .overlay { position: fixed; background: black; opacity: .4; top: 0; bottom: 0; left: 0; right: 0; z-index: 9999; cursor: pointer; }
.lightbox iframe { width: 100%; height: 30vw; }
.lightbox figure { position: fixed; background: white; top: 10vh; left: 20vw; right: 20vw; z-index: 99999; overflow-y: auto; max-height: 80vh; border-radius: 0 0 5px 5px; padding-bottom: 20px; }
.lightbox .images img { width: 100%; height: auto; }
.lightbox .container { padding: 0 18px; }

textarea { width: 98%; height: 65px; border-radius: 5px; border: 1px solid #E0E0E0; resize: none; background: #F2F2F2; padding: 7px; }

.lightbox-title { display: flex; justify-content: space-between; margin-top: 16px; }
.lightbox-title .name { flex: 1; }
.lightbox-title .info-content { margin-right: 24px; flex: 2; text-align: right; }
.lightbox-title .date { color: #AEAEAE; margin-right: 10px; }
.lightbox-title .date a { display: inline; color: #AEAEAE; font-size: 11px; text-decoration: underline; }
.lightbox-title .date a:hover { text-decoration: none; }

.lightbox-body { margin-top: 25px; }

.comments { margin-bottom: 20px; }
.comments a { max-width: 60%; }
.comments li { margin-top: 20px; }
.comments ul { list-style-type: none; }
.comments ul ul { padding-left: 20px; margin-left: 10px; border-left: 1px solid #E0E0E0; }
.comments ul .user { display: flex; align-content: space-between; }
.comments ul .user .images { width: 34px; height: 34px; border-radius: 5px; }
.comments ul .user .user-name { margin-left: 5px; }
.comments ul .user h4 { margin-bottom: -4px; }
.comments ul .user .date { color: #AEAEAE; margin-top: 8px; margin-left: 5px; }
.comments ul .comment { display: flex; justify-content: space-between; padding-top: 5px; padding-bottom: 10px; border-bottom: 1px solid #E0E0E0; }
.comments ul .comment .info-content small { color: #AEAEAE; text-decoration: underline; cursor: pointer; }
.comments ul .comment .info-content small:hover { text-decoration: none; }
