body, ul, li, menu, input, button, h1, h2, h3, h4, h5, h6, p{
	padding: 0;
	margin: 0;
}
p{
	font-size: $f4;
}
h2{
	font-size: $f6;
	text-transform: uppercase;
	font-weight: 600;
}
input{
	font-size: $f4;
	font-weight: 500;
	padding: 7px 5px;
	outline: none;
}
//.row{
//	display: flex;
//	justify-content: center;
//	width: 1260px;
//}
.container{
	margin: 0 40px;
}

a {
	font-size: $f-a;
	display: inline-block;
	width: 100%;
	text-decoration: none;
	color: black;
}
nav{
		li:hover a{
			color: $grey-4;
		}
	.container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: $nav-h;
	}
	menu, ul{
		display: inline-block;
		a{
			transition: all 1s;
		}
		&.sign-in li{
			&:first-child{
				border-right: 1px solid black;
				padding-right: 6px;
			}
			&:last-child{
				padding-left: 6px;
			}
		}
		&.log-in{
			display: flex;
			align-items: center;
			menu{
				width: 256px;
				position: absolute;
				top: 60px;
				right: 0;
				z-index: 99;
				border: 1px solid $grey-2;
				border-right: 0;
				background: white;
				border-bottom-left-radius: 5px;
				font-size: 12px;
				cursor: pointer;
				li{
					text-transform: none;
					font-weight: normal;
					float: none;
					padding: 3px 8px;
					transition: all .2s;
					&:hover{
						background: $grey;
					}
					&:hover.ping a{
						color: $ping-3;
					}
					&.ping a{
						color: $ping;
					}
				}
			}
			li{
				padding-left: 8px;
				padding-right: 0;
			}
		}
	}
	li{
		font-weight: 500;
		text-transform: uppercase;
		list-style-type: none;
		float: left;
		padding: 0 13px;
		&:first-child{
			padding: 0;
		}
		&:last-child{
			padding: 0;
		}
	}
	.logo{
		display: inline-block;
		a{
			font-size: $f6;
			font-weight: bold;
		}
	}
	img{
		height: 34px;
		width: 34px;
		border-radius: 5px;
	}
	i{
		font-size: 24px;
		display:inline-block;
		vertical-align: middle;
		margin-right: 10px;
	}
}

button{
	font-size: $f-a;
	text-transform: uppercase;
	font-weight: 500;
	border: 0;
	color: white;
	cursor: pointer;
	padding: 9px 42px;
	outline:none;
	&.ping{
		background: linear-gradient(90deg, $ping 0%, $ping-3 100%), $ping;
		&:hover{
			background: linear-gradient(90deg, $ping-3 0%, $ping 100%), $ping-3;
		}
		&.border {
			border-radius: 5px;
			padding: 9px 14px;
		&.small{
				padding: 5px 23px;
			}
		}
	}
	&.green{
		background: linear-gradient(90deg, $green-1 0%, $green-2 100%), $green-1;
		border-radius: 5px;
		&:hover{
			background: linear-gradient(90deg, $green-2 0%, $green-1 100%), $green-2;
		}
	}
}
.col-head{
	display: flex;
}
.col-header{
	width: 50%;
	color: white;
	float:left;
	h2{
		padding-top: 60px;
		padding-bottom: 20px;
	}
	p{
		padding-top: 28px;
		padding-bottom: 20px;
	}
	input, & button{
		margin: 20px 10px 0 0;
	}
}
.lovers{
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.11), rgba(0, 0, 0, 0.11)), url(../img/para.jpg), linear-gradient(180deg, #F0809B 0%, #6D001A 100%) no-repeat center;
	background-size: cover;
	width: 100%;
	height: 100%;
}
.invitation{
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.11), rgba(0, 0, 0, 0.11)), url(../img/photo.jpg), #D75675;
	background-size: cover;
	width: 100%;
	height: 100%;
}