body, ul, li, menu, input, button, h1, h2, h3, h4, h5, h6, p{
	padding: 0;
	margin: 0;
}

input{
	font-size: $f4;
	font-weight: 500;
	padding: 7px 5px;
	outline: none;
}
//.row{
//	display: flex;
//	justify-content: center;
//	width: 1260px;
//}
textarea, botton{
	outline: none;
}
	.images{
		overflow: hidden;
		img{
			height: 100%;
		}
	}

.container{
	padding: 0 40px;
}

a {
	font-size: $f-a;
	display: inline-block;
	width: 100%;
	text-decoration: none;
	color: black;
}
nav{
		li:hover a{
			color: $grey-4;
		}
	.container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: $nav-h;
	}
	menu, ul{
		display: inline-block;
		&.sign-in li{
			&:first-child{
				border-right: 1px solid black;
				padding-right: 6px;
			}
			&:last-child{
				padding-left: 6px;
			}
		}
		&.log-in{
			display: flex;
			align-items: center;
			menu{
				width: 256px;
				position: absolute;
				top: 60px;
				right: 0;
				z-index: 99;
				border: 1px solid $grey-2;
				border-right: 0;
				background: white;
				border-bottom-left-radius: 5px;
				font-size: 12px;
				cursor: pointer;
				li{
					text-transform: none;
					font-weight: normal;
					float: none;
					padding: 3px 8px;
					transition: all .2s;
					&:hover{
						background: $grey;
					}
					&:hover.ping a{
						color: $ping-3;
					}
					&.ping a{
						color: $ping;
					}
				}
			}
			li{
				padding-left: 8px;
				padding-right: 0;
			}
		}
	}
	li{
		font-weight: 500;
		text-transform: uppercase;
		list-style-type: none;
		float: left;
		padding: 0 13px;
		&:first-child{
			padding-left: 0;
		}
		&:last-child{
			padding-right: 0;
		}
	}
	.logo{
		display: inline-block;
		a{
			font-size: $f6;
			font-weight: bold;
		}
	}
	img{
		height: 34px;
		width: 34px;
		border-radius: 5px;
	}
	i{
		font-size: 24px;
		display:inline-block;
		vertical-align: middle;
		margin-right: 10px;
	}
}

button{
	font-size: $f-a;
	text-transform: uppercase;
	font-weight: 500;
	border: 0;
	color: white;
	cursor: pointer;
	padding: 9px 42px;
	outline:none;
	&.ping{
		background: linear-gradient(90deg, $ping 0%, $ping-3 100%), $ping;
		&:hover{
			background: linear-gradient(90deg, $ping-3 0%, $ping 100%), $ping-3;
		}
		&.border {
			border-radius: 5px;
			padding: 9px 14px;
		&.small{
				padding: 5px 23px;
			}
		}
	}
	&.green{
		background: linear-gradient(90deg, $green-1 0%, $green-2 100%), $green-1;
		border-radius: 5px;
		&:hover{
			background: linear-gradient(90deg, $green-2 0%, $green-1 100%), $green-2;
		}
	}
}
.col-head{
	display: flex;
}
.col-header{
	width: 50%;
	color: white;
	float:left;
	h2{
		padding-top: 60px;
		padding-bottom: 20px;
	}
	p{
		padding-top: 28px;
		padding-bottom: 20px;
	}
	input, & button{
		margin: 20px 10px 0 0;
	}
}
.lovers{
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.11), rgba(0, 0, 0, 0.11)), url(../img/para.jpg), linear-gradient(180deg, #F0809B 0%, #6D001A 100%) no-repeat center;
	background-size: cover;
	width: 100%;
	height: 100%;
}
.invitation{
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.11), rgba(0, 0, 0, 0.11)), url(../img/photo.jpg), #D75675;
	background-size: cover;
	width: 100%;
	height: 100%;
}
.slider{
	padding: 35px 0 70px;
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.97), rgba(255, 255, 255, 0.97)), url(../img/002.jpg) no-repeat center;
	background-size: cover;
}
.slider-run{
	margin-top: 35px;
	.user{
		.images{
			height: 244px;
			width: 173px;
			border-radius: 10px;
			text-align: right;
			img{
				position: relative;
				left: -20%;
			}
		}
		.username{
			position: absolute;
			bottom: 0;
			width: 163px;
			background: rgba(255, 255, 255, 0.8);
			border-radius: 0 0 10px 10px;
			padding: 5px;
			h5{
				line-height: .8;
			}
		}
	}
}

.top-work{
	.container{
		display: flex;
		justify-content:space-around;
		.work{
			padding: 35px 0 35px 0;
			margin: 3px;
			iframe{
				min-width: 45vw;
				height: 100%;
			}
			.images{
				margin-top: 15px;
				height: 25vw;
				max-width: 45vw;
			}
			.footer-work{
				padding-top: 6px;
				width: 100%;
				a{
					width: 30%;
					.images{
						margin-top: 0;
						margin-right: 6px;
						height: 28px;
						width: 28px;
						float: left;
						border-radius: 5px;
					}
				}
			}
		}
	}
}

.comment-work{
	color: #4F4F4F;
	font-size: $f2;
	text-align: right;
	display: inline;
	float: right;
}
.info{
	padding-top: 38px;
	padding-bottom: 94px;
	.info-head h3{
		text-align: center;
		margin-bottom: 30px;
	}
}
.triangle-bottomright {
	width: 0;
	height: 0;
	border-bottom: 500px solid #F9E5F2; 
	border-left: 99vw solid transparent;
}
footer{
	background: #151515;
	padding-top: 23px;
	padding-bottom: 20px;
	.footer{
		display: flex;
		justify-content:space-between;
	}
	a{
		color: white;
	}
	ul{
		float: right;
		li{
			float: left;
			margin-left: 10px;
			list-style-type: none;
			a{
				font-size: 12px;
			}
		}
	}
}

.flaticon-like-1:before{
	font-size: 16px;
}

	.likes:hover{
		color: red;
		cursor: pointer;
	}
.flaticon-view:before{
	font-size: 24px;
	position: absolute;
	margin-top: -4px;
}

.flaticon-like-1, .flaticon-view{
	margin-left: 3px;
}

.lightbox{
	.overlay{
		position:fixed;
		background: black;
		opacity: .4;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 9999;
	}
	figure{
		position: fixed;
		background: white;
		top: 10vh;
		left: 20vw;
		right: 20vw;
		z-index: 99999;
		overflow-y:auto;
		max-height: 80vh;
		border-radius: 0 0 5px 5px;
		padding-bottom: 20px;
	}
	.images img{
		width: 100%;
		height: auto;
	}
	.container{
		padding: 0 18px;
	}
}

textarea{
	width: 98%;
	height: 65px;
	border-radius: 5px;
	border: 1px solid #E0E0E0;
	resize: none;
	background: #F2F2F2;
//	color: #828282;
	padding: 7px;
}

.lightbox-title{
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
	.info-content{
			margin-right: 24px;
	}
	.date{
		color: #AEAEAE;
		margin-right: 10px;
		a{
			display: inline;
			color: #AEAEAE;
			font-size: 11px;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
	}
}

.lightbox-body{
	margin-top: 25px;
}
.comments{
	margin-bottom: 20px;
	a{
		max-width: 60%;
	}
	ul{
		margin-top: 20px;
	}
	li{
		list-style-type: none;
		li{
			padding-left: 20px;
			margin-left: 10px;
			border-left: 1px solid #E0E0E0;
		}
		.user{
			display: flex;
			align-content: space-between;
			.images{
				width: 34px;
				height: 34px;
				border-radius: 5px;
			}
			.user-name{
				margin-left: 5px;
			}
			h4{
				margin-bottom: -4px;
			}
			.date{
				color: #AEAEAE;
				margin-top: 8px;
				margin-left: 5px;
			}
		}
		.comment{
			display: flex;
			justify-content: space-between;
			padding-top: 5px;
			padding-bottom: 10px;
			border-bottom: 1px solid #E0E0E0;
			.info-content{
				small{
					color: #AEAEAE;
					text-decoration: underline;
					cursor: pointer;
					&:hover{
						text-decoration: none;
					}
				}
			}
		}
	}
}