@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,700i&subset=cyrillic');

body, textarea{
	font-family: 'Roboto', sans-serif;
}

p{
	font-size: $f4;
}

h2{
	font-size: $f6;
	text-transform: uppercase;
	font-weight: 600;
}

h4{
	font-size: $f5;
	font-weight: 400;
}

h5{
	font-size: $f3;
	text-transform:capitalize;
	font-weight: 500;
	margin-bottom: -3px !important;
}
small, textarea{
	font-size: $f2;
}