//Colors
$ping: #E62174;
$ping-1: #F0809B;
$ping-2: #F9E5F2;
$ping-3: #CE1B66;
$red: #6D001A;
$white-ping: #FBF9FA;

$black-1: #151515;
$grey: #F2F2F2;
$grey-1: #E8E8E8;
$grey-2: #E0E0E0;
$grey-3: #898989;
$grey-4: #4F4F4F;
$grey-5: #BCBCBC;

$green-1: #27AE60;
$green-2: #219653;

$blue:#2D9CDB;
$blue-1: #85A3CB;
$blue-2: #00204C;
$blue-3: #385C8E;

$yellow: #F2C94C;
$orange: #EB6F00;

//Font
$f-a: 14px;
$f1: 9px;
$f2: 11px;
$f3: 13px;
$f4: 14px;
$f5: 18px;
$f6: 24px;
$f7: 64px;
$f8: 72px;

//Padding
$p-a: 13px;
$p: 8px;
$p1: 15px;
$p2: 25px;
$p3: 40px;
$p4: 50px;

//Nav
$nav-h: 60px;