	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:41
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
}

.flaticon-bl-add:before { content: "\f100"; }
.flaticon-bl-add-1:before { content: "\f101"; }
.flaticon-bl-add-2:before { content: "\f102"; }
.flaticon-bl-add-3:before { content: "\f103"; }
.flaticon-bl-agenda:before { content: "\f104"; }
.flaticon-bl-alarm:before { content: "\f105"; }
.flaticon-bl-alarm-1:before { content: "\f106"; }
.flaticon-bl-alarm-clock:before { content: "\f107"; }
.flaticon-bl-alarm-clock-1:before { content: "\f108"; }
.flaticon-bl-albums:before { content: "\f109"; }
.flaticon-bl-app:before { content: "\f10a"; }
.flaticon-bl-archive:before { content: "\f10b"; }
.flaticon-bl-archive-1:before { content: "\f10c"; }
.flaticon-bl-archive-2:before { content: "\f10d"; }
.flaticon-bl-archive-3:before { content: "\f10e"; }
.flaticon-bl-attachment:before { content: "\f10f"; }
.flaticon-bl-back:before { content: "\f110"; }
.flaticon-bl-battery:before { content: "\f111"; }
.flaticon-bl-battery-1:before { content: "\f112"; }
.flaticon-bl-battery-2:before { content: "\f113"; }
.flaticon-bl-battery-3:before { content: "\f114"; }
.flaticon-bl-battery-4:before { content: "\f115"; }
.flaticon-bl-battery-5:before { content: "\f116"; }
.flaticon-bl-battery-6:before { content: "\f117"; }
.flaticon-bl-battery-7:before { content: "\f118"; }
.flaticon-bl-battery-8:before { content: "\f119"; }
.flaticon-bl-battery-9:before { content: "\f11a"; }
.flaticon-bl-binoculars:before { content: "\f11b"; }
.flaticon-bl-blueprint:before { content: "\f11c"; }
.flaticon-bl-bluetooth:before { content: "\f11d"; }
.flaticon-bl-bluetooth-1:before { content: "\f11e"; }
.flaticon-bl-bookmark:before { content: "\f11f"; }
.flaticon-bl-bookmark-1:before { content: "\f120"; }
.flaticon-bl-briefcase:before { content: "\f121"; }
.flaticon-bl-broken-link:before { content: "\f122"; }
.flaticon-bl-calculator:before { content: "\f123"; }
.flaticon-bl-calculator-1:before { content: "\f124"; }
.flaticon-bl-calendar:before { content: "\f125"; }
.flaticon-bl-calendar-1:before { content: "\f126"; }
.flaticon-bl-calendar-2:before { content: "\f127"; }
.flaticon-bl-calendar-3:before { content: "\f128"; }
.flaticon-bl-calendar-4:before { content: "\f129"; }
.flaticon-bl-calendar-5:before { content: "\f12a"; }
.flaticon-bl-calendar-6:before { content: "\f12b"; }
.flaticon-bl-calendar-7:before { content: "\f12c"; }
.flaticon-bl-checked:before { content: "\f12d"; }
.flaticon-bl-checked-1:before { content: "\f12e"; }
.flaticon-bl-clock:before { content: "\f12f"; }
.flaticon-bl-clock-1:before { content: "\f130"; }
.flaticon-bl-close:before { content: "\f131"; }
.flaticon-bl-cloud:before { content: "\f132"; }
.flaticon-bl-cloud-computing:before { content: "\f133"; }
.flaticon-bl-cloud-computing-1:before { content: "\f134"; }
.flaticon-bl-cloud-computing-2:before { content: "\f135"; }
.flaticon-bl-cloud-computing-3:before { content: "\f136"; }
.flaticon-bl-cloud-computing-4:before { content: "\f137"; }
.flaticon-bl-cloud-computing-5:before { content: "\f138"; }
.flaticon-bl-command:before { content: "\f139"; }
.flaticon-bl-compact-disc:before { content: "\f13a"; }
.flaticon-bl-compact-disc-1:before { content: "\f13b"; }
.flaticon-bl-compact-disc-2:before { content: "\f13c"; }
.flaticon-bl-compass:before { content: "\f13d"; }
.flaticon-bl-compose:before { content: "\f13e"; }
.flaticon-bl-controls:before { content: "\f13f"; }
.flaticon-bl-controls-1:before { content: "\f140"; }
.flaticon-bl-controls-2:before { content: "\f141"; }
.flaticon-bl-controls-3:before { content: "\f142"; }
.flaticon-bl-controls-4:before { content: "\f143"; }
.flaticon-bl-controls-5:before { content: "\f144"; }
.flaticon-bl-controls-6:before { content: "\f145"; }
.flaticon-bl-controls-7:before { content: "\f146"; }
.flaticon-bl-controls-8:before { content: "\f147"; }
.flaticon-bl-controls-9:before { content: "\f148"; }
.flaticon-bl-database:before { content: "\f149"; }
.flaticon-bl-database-1:before { content: "\f14a"; }
.flaticon-bl-database-2:before { content: "\f14b"; }
.flaticon-bl-database-3:before { content: "\f14c"; }
.flaticon-bl-diamond:before { content: "\f14d"; }
.flaticon-bl-diploma:before { content: "\f14e"; }
.flaticon-bl-dislike:before { content: "\f14f"; }
.flaticon-bl-dislike-1:before { content: "\f150"; }
.flaticon-bl-divide:before { content: "\f151"; }
.flaticon-bl-divide-1:before { content: "\f152"; }
.flaticon-bl-division:before { content: "\f153"; }
.flaticon-bl-document:before { content: "\f154"; }
.flaticon-bl-download:before { content: "\f155"; }
.flaticon-bl-edit:before { content: "\f156"; }
.flaticon-bl-edit-1:before { content: "\f157"; }
.flaticon-bl-eject:before { content: "\f158"; }
.flaticon-bl-eject-1:before { content: "\f159"; }
.flaticon-bl-equal:before { content: "\f15a"; }
.flaticon-bl-equal-1:before { content: "\f15b"; }
.flaticon-bl-equal-2:before { content: "\f15c"; }
.flaticon-bl-error:before { content: "\f15d"; }
.flaticon-bl-exit:before { content: "\f15e"; }
.flaticon-bl-exit-1:before { content: "\f15f"; }
.flaticon-bl-exit-2:before { content: "\f160"; }
.flaticon-bl-eyeglasses:before { content: "\f161"; }
.flaticon-bl-fast-forward:before { content: "\f162"; }
.flaticon-bl-fast-forward-1:before { content: "\f163"; }
.flaticon-bl-fax:before { content: "\f164"; }
.flaticon-bl-file:before { content: "\f165"; }
.flaticon-bl-file-1:before { content: "\f166"; }
.flaticon-bl-file-2:before { content: "\f167"; }
.flaticon-bl-film:before { content: "\f168"; }
.flaticon-bl-fingerprint:before { content: "\f169"; }
.flaticon-bl-flag:before { content: "\f16a"; }
.flaticon-bl-flag-1:before { content: "\f16b"; }
.flaticon-bl-flag-2:before { content: "\f16c"; }
.flaticon-bl-flag-3:before { content: "\f16d"; }
.flaticon-bl-flag-4:before { content: "\f16e"; }
.flaticon-bl-focus:before { content: "\f16f"; }
.flaticon-bl-folder:before { content: "\f170"; }
.flaticon-bl-folder-1:before { content: "\f171"; }
.flaticon-bl-folder-10:before { content: "\f172"; }
.flaticon-bl-folder-11:before { content: "\f173"; }
.flaticon-bl-folder-12:before { content: "\f174"; }
.flaticon-bl-folder-13:before { content: "\f175"; }
.flaticon-bl-folder-14:before { content: "\f176"; }
.flaticon-bl-folder-15:before { content: "\f177"; }
.flaticon-bl-folder-16:before { content: "\f178"; }
.flaticon-bl-folder-17:before { content: "\f179"; }
.flaticon-bl-folder-18:before { content: "\f17a"; }
.flaticon-bl-folder-19:before { content: "\f17b"; }
.flaticon-bl-folder-2:before { content: "\f17c"; }
.flaticon-bl-folder-3:before { content: "\f17d"; }
.flaticon-bl-folder-4:before { content: "\f17e"; }
.flaticon-bl-folder-5:before { content: "\f17f"; }
.flaticon-bl-folder-6:before { content: "\f180"; }
.flaticon-bl-folder-7:before { content: "\f181"; }
.flaticon-bl-folder-8:before { content: "\f182"; }
.flaticon-bl-folder-9:before { content: "\f183"; }
.flaticon-bl-forbidden:before { content: "\f184"; }
.flaticon-bl-funnel:before { content: "\f185"; }
.flaticon-bl-garbage:before { content: "\f186"; }
.flaticon-bl-garbage-1:before { content: "\f187"; }
.flaticon-bl-garbage-2:before { content: "\f188"; }
.flaticon-bl-gift:before { content: "\f189"; }
.flaticon-bl-help:before { content: "\f18a"; }
.flaticon-bl-hide:before { content: "\f18b"; }
.flaticon-bl-hold:before { content: "\f18c"; }
.flaticon-bl-home:before { content: "\f18d"; }
.flaticon-bl-home-1:before { content: "\f18e"; }
.flaticon-bl-home-2:before { content: "\f18f"; }
.flaticon-bl-hourglass:before { content: "\f190"; }
.flaticon-bl-hourglass-1:before { content: "\f191"; }
.flaticon-bl-hourglass-2:before { content: "\f192"; }
.flaticon-bl-hourglass-3:before { content: "\f193"; }
.flaticon-bl-house:before { content: "\f194"; }
.flaticon-bl-id-card:before { content: "\f195"; }
.flaticon-bl-id-card-1:before { content: "\f196"; }
.flaticon-bl-id-card-2:before { content: "\f197"; }
.flaticon-bl-id-card-3:before { content: "\f198"; }
.flaticon-bl-id-card-4:before { content: "\f199"; }
.flaticon-bl-id-card-5:before { content: "\f19a"; }
.flaticon-bl-idea:before { content: "\f19b"; }
.flaticon-bl-incoming:before { content: "\f19c"; }
.flaticon-bl-infinity:before { content: "\f19d"; }
.flaticon-bl-info:before { content: "\f19e"; }
.flaticon-bl-internet:before { content: "\f19f"; }
.flaticon-bl-key:before { content: "\f1a0"; }
.flaticon-bl-lamp:before { content: "\f1a1"; }
.flaticon-bl-layers:before { content: "\f1a2"; }
.flaticon-bl-layers-1:before { content: "\f1a3"; }
.flaticon-bl-like:before { content: "\f1a4"; }
.flaticon-bl-like-1:before { content: "\f1a5"; }
.flaticon-bl-like-2:before { content: "\f1a6"; }
.flaticon-bl-link:before { content: "\f1a7"; }
.flaticon-bl-list:before { content: "\f1a8"; }
.flaticon-bl-list-1:before { content: "\f1a9"; }
.flaticon-bl-lock:before { content: "\f1aa"; }
.flaticon-bl-lock-1:before { content: "\f1ab"; }
.flaticon-bl-locked:before { content: "\f1ac"; }
.flaticon-bl-locked-1:before { content: "\f1ad"; }
.flaticon-bl-locked-2:before { content: "\f1ae"; }
.flaticon-bl-locked-3:before { content: "\f1af"; }
.flaticon-bl-locked-4:before { content: "\f1b0"; }
.flaticon-bl-locked-5:before { content: "\f1b1"; }
.flaticon-bl-locked-6:before { content: "\f1b2"; }
.flaticon-bl-login:before { content: "\f1b3"; }
.flaticon-bl-magic-wand:before { content: "\f1b4"; }
.flaticon-bl-magnet:before { content: "\f1b5"; }
.flaticon-bl-magnet-1:before { content: "\f1b6"; }
.flaticon-bl-magnet-2:before { content: "\f1b7"; }
.flaticon-bl-map:before { content: "\f1b8"; }
.flaticon-bl-map-1:before { content: "\f1b9"; }
.flaticon-bl-map-2:before { content: "\f1ba"; }
.flaticon-bl-map-location:before { content: "\f1bb"; }
.flaticon-bl-megaphone:before { content: "\f1bc"; }
.flaticon-bl-megaphone-1:before { content: "\f1bd"; }
.flaticon-bl-menu:before { content: "\f1be"; }
.flaticon-bl-menu-1:before { content: "\f1bf"; }
.flaticon-bl-menu-2:before { content: "\f1c0"; }
.flaticon-bl-menu-3:before { content: "\f1c1"; }
.flaticon-bl-menu-4:before { content: "\f1c2"; }
.flaticon-bl-microphone:before { content: "\f1c3"; }
.flaticon-bl-microphone-1:before { content: "\f1c4"; }
.flaticon-bl-minus:before { content: "\f1c5"; }
.flaticon-bl-minus-1:before { content: "\f1c6"; }
.flaticon-bl-more:before { content: "\f1c7"; }
.flaticon-bl-more-1:before { content: "\f1c8"; }
.flaticon-bl-more-2:before { content: "\f1c9"; }
.flaticon-bl-multiply:before { content: "\f1ca"; }
.flaticon-bl-multiply-1:before { content: "\f1cb"; }
.flaticon-bl-music-player:before { content: "\f1cc"; }
.flaticon-bl-music-player-1:before { content: "\f1cd"; }
.flaticon-bl-music-player-2:before { content: "\f1ce"; }
.flaticon-bl-music-player-3:before { content: "\f1cf"; }
.flaticon-bl-mute:before { content: "\f1d0"; }
.flaticon-bl-muted:before { content: "\f1d1"; }
.flaticon-bl-navigation:before { content: "\f1d2"; }
.flaticon-bl-navigation-1:before { content: "\f1d3"; }
.flaticon-bl-network:before { content: "\f1d4"; }
.flaticon-bl-newspaper:before { content: "\f1d5"; }
.flaticon-bl-next:before { content: "\f1d6"; }
.flaticon-bl-note:before { content: "\f1d7"; }
.flaticon-bl-notebook:before { content: "\f1d8"; }
.flaticon-bl-notebook-1:before { content: "\f1d9"; }
.flaticon-bl-notebook-2:before { content: "\f1da"; }
.flaticon-bl-notebook-3:before { content: "\f1db"; }
.flaticon-bl-notebook-4:before { content: "\f1dc"; }
.flaticon-bl-notebook-5:before { content: "\f1dd"; }
.flaticon-bl-notepad:before { content: "\f1de"; }
.flaticon-bl-notepad-1:before { content: "\f1df"; }
.flaticon-bl-notepad-2:before { content: "\f1e0"; }
.flaticon-bl-notification:before { content: "\f1e1"; }
.flaticon-bl-paper-plane:before { content: "\f1e2"; }
.flaticon-bl-paper-plane-1:before { content: "\f1e3"; }
.flaticon-bl-pause:before { content: "\f1e4"; }
.flaticon-bl-pause-1:before { content: "\f1e5"; }
.flaticon-bl-percent:before { content: "\f1e6"; }
.flaticon-bl-percent-1:before { content: "\f1e7"; }
.flaticon-bl-perspective:before { content: "\f1e8"; }
.flaticon-bl-photo-camera:before { content: "\f1e9"; }
.flaticon-bl-photo-camera-1:before { content: "\f1ea"; }
.flaticon-bl-photos:before { content: "\f1eb"; }
.flaticon-bl-picture:before { content: "\f1ec"; }
.flaticon-bl-picture-1:before { content: "\f1ed"; }
.flaticon-bl-picture-2:before { content: "\f1ee"; }
.flaticon-bl-pin:before { content: "\f1ef"; }
.flaticon-bl-placeholder:before { content: "\f1f0"; }
.flaticon-bl-placeholder-1:before { content: "\f1f1"; }
.flaticon-bl-placeholder-2:before { content: "\f1f2"; }
.flaticon-bl-placeholder-3:before { content: "\f1f3"; }
.flaticon-bl-placeholders:before { content: "\f1f4"; }
.flaticon-bl-play-button:before { content: "\f1f5"; }
.flaticon-bl-play-button-1:before { content: "\f1f6"; }
.flaticon-bl-plus:before { content: "\f1f7"; }
.flaticon-bl-power:before { content: "\f1f8"; }
.flaticon-bl-previous:before { content: "\f1f9"; }
.flaticon-bl-price-tag:before { content: "\f1fa"; }
.flaticon-bl-print:before { content: "\f1fb"; }
.flaticon-bl-push-pin:before { content: "\f1fc"; }
.flaticon-bl-radar:before { content: "\f1fd"; }
.flaticon-bl-reading:before { content: "\f1fe"; }
.flaticon-bl-record:before { content: "\f1ff"; }
.flaticon-bl-repeat:before { content: "\f200"; }
.flaticon-bl-repeat-1:before { content: "\f201"; }
.flaticon-bl-restart:before { content: "\f202"; }
.flaticon-bl-resume:before { content: "\f203"; }
.flaticon-bl-rewind:before { content: "\f204"; }
.flaticon-bl-rewind-1:before { content: "\f205"; }
.flaticon-bl-route:before { content: "\f206"; }
.flaticon-bl-save:before { content: "\f207"; }
.flaticon-bl-search:before { content: "\f208"; }
.flaticon-bl-search-1:before { content: "\f209"; }
.flaticon-bl-send:before { content: "\f20a"; }
.flaticon-bl-server:before { content: "\f20b"; }
.flaticon-bl-server-1:before { content: "\f20c"; }
.flaticon-bl-server-2:before { content: "\f20d"; }
.flaticon-bl-server-3:before { content: "\f20e"; }
.flaticon-bl-settings:before { content: "\f20f"; }
.flaticon-bl-settings-1:before { content: "\f210"; }
.flaticon-bl-settings-2:before { content: "\f211"; }
.flaticon-bl-settings-3:before { content: "\f212"; }
.flaticon-bl-settings-4:before { content: "\f213"; }
.flaticon-bl-settings-5:before { content: "\f214"; }
.flaticon-bl-settings-6:before { content: "\f215"; }
.flaticon-bl-settings-7:before { content: "\f216"; }
.flaticon-bl-settings-8:before { content: "\f217"; }
.flaticon-bl-settings-9:before { content: "\f218"; }
.flaticon-bl-share:before { content: "\f219"; }
.flaticon-bl-share-1:before { content: "\f21a"; }
.flaticon-bl-share-2:before { content: "\f21b"; }
.flaticon-bl-shuffle:before { content: "\f21c"; }
.flaticon-bl-shuffle-1:before { content: "\f21d"; }
.flaticon-bl-shutdown:before { content: "\f21e"; }
.flaticon-bl-sign:before { content: "\f21f"; }
.flaticon-bl-sign-1:before { content: "\f220"; }
.flaticon-bl-skip:before { content: "\f221"; }
.flaticon-bl-smartphone:before { content: "\f222"; }
.flaticon-bl-smartphone-1:before { content: "\f223"; }
.flaticon-bl-smartphone-10:before { content: "\f224"; }
.flaticon-bl-smartphone-11:before { content: "\f225"; }
.flaticon-bl-smartphone-2:before { content: "\f226"; }
.flaticon-bl-smartphone-3:before { content: "\f227"; }
.flaticon-bl-smartphone-4:before { content: "\f228"; }
.flaticon-bl-smartphone-5:before { content: "\f229"; }
.flaticon-bl-smartphone-6:before { content: "\f22a"; }
.flaticon-bl-smartphone-7:before { content: "\f22b"; }
.flaticon-bl-smartphone-8:before { content: "\f22c"; }
.flaticon-bl-smartphone-9:before { content: "\f22d"; }
.flaticon-bl-speaker:before { content: "\f22e"; }
.flaticon-bl-speaker-1:before { content: "\f22f"; }
.flaticon-bl-speaker-2:before { content: "\f230"; }
.flaticon-bl-speaker-3:before { content: "\f231"; }
.flaticon-bl-speaker-4:before { content: "\f232"; }
.flaticon-bl-speaker-5:before { content: "\f233"; }
.flaticon-bl-speaker-6:before { content: "\f234"; }
.flaticon-bl-speaker-7:before { content: "\f235"; }
.flaticon-bl-speaker-8:before { content: "\f236"; }
.flaticon-bl-spotlight:before { content: "\f237"; }
.flaticon-bl-star:before { content: "\f238"; }
.flaticon-bl-star-1:before { content: "\f239"; }
.flaticon-bl-stop:before { content: "\f23a"; }
.flaticon-bl-stop-1:before { content: "\f23b"; }
.flaticon-bl-stopwatch:before { content: "\f23c"; }
.flaticon-bl-stopwatch-1:before { content: "\f23d"; }
.flaticon-bl-stopwatch-2:before { content: "\f23e"; }
.flaticon-bl-stopwatch-3:before { content: "\f23f"; }
.flaticon-bl-stopwatch-4:before { content: "\f240"; }
.flaticon-bl-street:before { content: "\f241"; }
.flaticon-bl-street-1:before { content: "\f242"; }
.flaticon-bl-substract:before { content: "\f243"; }
.flaticon-bl-substract-1:before { content: "\f244"; }
.flaticon-bl-success:before { content: "\f245"; }
.flaticon-bl-switch:before { content: "\f246"; }
.flaticon-bl-switch-1:before { content: "\f247"; }
.flaticon-bl-switch-2:before { content: "\f248"; }
.flaticon-bl-switch-3:before { content: "\f249"; }
.flaticon-bl-switch-4:before { content: "\f24a"; }
.flaticon-bl-switch-5:before { content: "\f24b"; }
.flaticon-bl-switch-6:before { content: "\f24c"; }
.flaticon-bl-switch-7:before { content: "\f24d"; }
.flaticon-bl-tabs:before { content: "\f24e"; }
.flaticon-bl-tabs-1:before { content: "\f24f"; }
.flaticon-bl-target:before { content: "\f250"; }
.flaticon-bl-television:before { content: "\f251"; }
.flaticon-bl-television-1:before { content: "\f252"; }
.flaticon-bl-time:before { content: "\f253"; }
.flaticon-bl-trash:before { content: "\f254"; }
.flaticon-bl-umbrella:before { content: "\f255"; }
.flaticon-bl-unlink:before { content: "\f256"; }
.flaticon-bl-unlocked:before { content: "\f257"; }
.flaticon-bl-unlocked-1:before { content: "\f258"; }
.flaticon-bl-unlocked-2:before { content: "\f259"; }
.flaticon-bl-upload:before { content: "\f25a"; }
.flaticon-bl-user:before { content: "\f25b"; }
.flaticon-bl-user-1:before { content: "\f25c"; }
.flaticon-bl-user-2:before { content: "\f25d"; }
.flaticon-bl-user-3:before { content: "\f25e"; }
.flaticon-bl-user-4:before { content: "\f25f"; }
.flaticon-bl-user-5:before { content: "\f260"; }
.flaticon-bl-user-6:before { content: "\f261"; }
.flaticon-bl-user-7:before { content: "\f262"; }
.flaticon-bl-users:before { content: "\f263"; }
.flaticon-bl-users-1:before { content: "\f264"; }
.flaticon-bl-video-camera:before { content: "\f265"; }
.flaticon-bl-video-camera-1:before { content: "\f266"; }
.flaticon-bl-video-player:before { content: "\f267"; }
.flaticon-bl-video-player-1:before { content: "\f268"; }
.flaticon-bl-video-player-2:before { content: "\f269"; }
.flaticon-bl-view:before { content: "\f26a"; }
.flaticon-bl-view-1:before { content: "\f26b"; }
.flaticon-bl-view-2:before { content: "\f26c"; }
.flaticon-bl-volume-control:before { content: "\f26d"; }
.flaticon-bl-volume-control-1:before { content: "\f26e"; }
.flaticon-bl-warning:before { content: "\f26f"; }
.flaticon-bl-wifi:before { content: "\f270"; }
.flaticon-bl-wifi-1:before { content: "\f271"; }
.flaticon-bl-windows:before { content: "\f272"; }
.flaticon-bl-windows-1:before { content: "\f273"; }
.flaticon-bl-windows-2:before { content: "\f274"; }
.flaticon-bl-windows-3:before { content: "\f275"; }
.flaticon-bl-windows-4:before { content: "\f276"; }
.flaticon-bl-wireless-internet:before { content: "\f277"; }
.flaticon-bl-worldwide:before { content: "\f278"; }
.flaticon-bl-worldwide-1:before { content: "\f279"; }
.flaticon-bl-zoom-in:before { content: "\f27a"; }
.flaticon-bl-zoom-out:before { content: "\f27b"; }